/* RESET E NORMALIZZAZIONE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ALL DOC */
body {
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    line-height: 50px;
}

/* #WRAPPER */
#wrapper {
    height: 100vh;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #CAROUSEL-CONTAINER */
/* <1-fold */
#carousel-container {
    width: 500px;
    height: 300px;
}

/* #CAROUSEL-CONTAINER --> .TITLE */
/* #2-fold */
#carousel-container .title {
    height: 50px;
    background-color: white;
    padding: 0 20px;
}
/* #/2-fold END TITLE */

/* #CAROUSEL-CONTAINER --> .CAROUSEL */
/* #2-fold */
#carousel-container .carousel {
    height: calc(100% - 50px);
    position: relative;
}

.carousel img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
    transition: all 0.3s;
}
.carousel img.active { /* active img */
    opacity: 1;
}

.carousel .prev,
.carousel .next {
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: all 0.4s;
}
.carousel .next {/* settings for right mover */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
    left: unset;
    right: 0;
}
.carousel .prev:hover,
.carousel .next:hover {
    opacity: 1;
}

.carousel .dots {/* DOTS CONTAINER */
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
    transition: all 0.3s;
}
.dot.active { /* active dot */
    background-color: white;
}
.dot:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.8);
}

/* #/2-fold END CAROUSEL */

/* </1-fold END CAROUSEL-CONTAINER */
