/* RESET E NORMALIZZAZIONE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* #WRAPPER */
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #e2e2e2;
}

/* #CAROUSEL-CONTAINER */
/* <1-fold */
#carousel-container {
    width: 500px;
    height: 300px;
}

/* #CAROUSEL-CONTAINER --> .TITLE */
/* #2-fold */
#carousel-container .title {
    height: 50px;
    background-color: white;
    color: black;
}
/* #/2-fold END TITLE */

/* #CAROUSEL-CONTAINER --> .CAROUSEL */
/* #2-fold */
#carousel-container .carousel {
    position: relative;
    height: calc(100% - 50px);
}

.carousel img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel img.active {
    display: block;
}

.carousel .prev,
.carousel .next {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    color: transparent;
    cursor: pointer;
}

.carousel .next {
    left: unset;
    right: 0;
}

.carousel .prev:hover,
.carousel .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.carousel .dots {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 50px;
    right: 50px;
    height: 50px;
}

.dot {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

/* #/2-fold END CAROUSEL */

/* </1-fold END CAROUSEL-CONTAINER */
